*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #ffffff;
	overflow-x: hidden;
	align-items: center;
	background-color:black ;

}

.relleno{
	padding-top: 30px;
}

 img {
    width: 80%;
    height: auto;
 }

.personaje{
 	width: 80%;
 }

 .container {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100hv;
}

.container section{
    min-width: 100%;
    /*z-index: -1;*/
    height: auto;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background: -webkit-radial-gradient(bottom, #00e09b, #312783); 
}

.container section:nth-child(2){
    background: -webkit-radial-gradient(bottom, #e6007e, #312783); 
}

.container section:nth-child(3){
    background: -webkit-radial-gradient(bottom, #009fe3, #312783);
}

.container section:nth-child(4){
    background: -webkit-radial-gradient(bottom, #e6007e, #312783); 
}

.container section:nth-child(5){
    background: -webkit-radial-gradient(bottom, #e88b46, #312783);  
    
}


.contenedor{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
	padding: 0px 60px 0px 0px;
}

.fila {
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}

section .proyecto{
	margin-top: 120px;
}

[class*="col-"]{
	float: left;
	padding: 0px 40px 0px 40px;
}

/*INICIO RESPONSIVE*/

/* PANTALLA GRANDE - lg */
@media(min-width: 1200px){
	.col-lg-12{width: 100%;}
	.col-lg-11{width: 91.66%;}
	.col-lg-10{width: 83.33%;}
	.col-lg-9{width: 75%;}
	.col-lg-8{width: 66.66%;}
	.col-lg-7{width: 58.33%;}
	.col-lg-6{width: 50%;}
	.col-lg-5{width: 41.66%;}
	.col-lg-4{width: 33.33%;}
	.col-lg-3{width: 25%;}
	.col-lg-2{width: 16.66%;}
	.col-lg-1{width: 8.33%;}
}

/* PANTALLA MEDIANA md */

@media(max-width: 1199px) and (min-width: 992px){
	.col-md-12{width: 100%;}
	.col-md-11{width: 91.66%;}
	.col-md-10{width: 83.33%;}
	.col-md-9{width: 75%;}
	.col-md-8{width: 66.66%;}
	.col-md-7{width: 58.33%;}
	.col-md-6{width: 50%;}
	.col-md-5{width: 41.66%;}
	.col-md-4{width: 33.33%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66%;}
	.col-md-1{width: 8.33%;}
}

/* PANTALLA PEQUEÑA sm */
@media(max-width: 991px) and (min-width: 768px){
	.col-sm-12{width: 100%;}
	.col-sm-11{width: 91.66%;}
	.col-sm-10{width: 83.33%;}
	.col-sm-9{width: 75%;}
	.col-sm-8{width: 66.66%;}
	.col-sm-7{width: 58.33%;}
	.col-sm-6{width: 50%;}
	.col-sm-5{width: 41.66%;}
	.col-sm-4{width: 33.33%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66%;}
	.col-sm-1{width: 8.33%;}
	.menu{
		background-color:rgba(49, 39, 131, 0.5) ;
		padding-top: 0px;

	}
	.menu .fila{
		padding-top: 0px;

	}
	.proyecto.uno {
    margin-top: 135px;
}
	section .proyecto{
		margin-top: 30px;
	}
	img{
		width: 50%;
		align-content: center;
	}

	.personaje{
		margin-top: 20px;
	}
	.container section{
    height: 100%;
    padding-bottom: 60px;
      }

      .videoyt{
      	width: 100%;
      }

footer.fila{
	background: url(img/elementos/montanas-8.png) no-repeat center;
	background-size: cover;
    height: 10px;
	display: flex;
    position: fixed;
	bottom: 0;
    
}
}

/* PANTALLA EXTRAPEQUEÑA xs */
@media(max-width: 767px){
	.col-xs-12{width: 100%;}
	.col-xs-11{width: 91.66%;}
	.col-xs-10{width: 83.33%;}
	.col-xs-9{width: 75%;}
	.col-xs-8{width: 66.66%;}
	.col-xs-7{width: 58.33%;}
	.col-xs-6{width: 50%;}
	.col-xs-5{width: 41.66%;}
	.col-xs-4{width: 33.33%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66%;}
	.col-xs-1{width: 8.33%;}

	.menu{
		background-color:rgba(49, 39, 131, 0.5) ;
		padding-top: 0px;

	}
	.menu .fila{
		padding-top: 0px;

	}
	.proyecto.uno {
    margin-top: 135px;
}
	section .proyecto{
		margin-top: 30px;
	}
	img{
		width: 50%;
		align-content: center;
	}

	.personaje{
		margin-top: 20px;
	}
	.container section{
    height: 100%;
    padding-bottom: 60px;
      }

      .videoyt{
      	width: 100%;
      }

footer.fila{
	background: url(img/elementos/montanas-8.png) no-repeat center;
	background-size: cover;
    height: 10px;
	display: flex;
    position: fixed;
	bottom: 0;
    
}

}

@media (max-width: 991px){

    .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;

}
 }

/* FIN RESPONSIVE*/

.menu
	{
	padding-top: 30px;
	position: fixed;
  	z-index: 9;
	}

.logo{
    width: 250px;
    
}

nav ul li {
    display: inline-block;
    line-height: 25px;
    margin: 0px 5px;
}

nav ul li a{
    display: inline-block;
    color: #ffffff;
    padding: 10px 20px;   
    text-decoration: none;
    font-size: 30px;
    overflow-x: hidden;
    }

li a.active, li a:hover{
        color: #dbdbdb;
        font-size: 25px;
        transition: .5s;
    }

/* PARTICULAS
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;

}*/
/* FIN PARTICULAS */

/* titulos H */

h2 {
	text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    display: block;
    color: #ffffff;
    width: 100%;
 }

 h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff; 
    font-style: italic;
    margin-bottom: 10px;
 }

 h5{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff; 
    font-style: italic;

 }


h6 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
    margin-top: 55px;
 }

/* fin titulos H */

/* FORMULARIO */
form {
    margin: auto;
    font-size: 14px;
    display: block;
    text-align: left;
    color: #ffffff;


}
label{
    color: #ffffff;

}

input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, .6);
    border-radius: 30px;
    font-size: 16px;
    border: none;
    color: #000000;
}

select{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, .6);
    border-radius: 30px;
    font-size: 16px;
    border: none;

}

#boton{ 
    width: 25%;
    background: #ffffff;
    color:#312783 ;
    font-weight: 700;
 }

 #boton:hover{
    cursor: pointer;
    background: #E2E2E2;
 }

 .continuar { 
    width: 35%;
    background: #ffffff;
    color:#312783 ;
    font-weight: 700;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
 }

 .continuar:hover{
    cursor: pointer;
    background: #E2E2E2;
 } 

 .ok{
 	font-size: 15px;
 }

 .malo{
 	font-size: 15px;
 }

 /* FIN FORMULARIO */

footer.fila{
	background: url(img/elementos/montanas-8.png) no-repeat center;
	background-size: cover;
    height: 90px;
	display: flex;
    position: fixed;
	bottom: 0;
	z-index: 999;
    
}

.formulario {

}
